<% content_for :head do %> 
  <meta title="Articles Index">
  <meta name="description" content="  ">
<% end %>



<h1> Articles </h1>

<%= link_to "New", new_article_path if current_user.try(:admin?) %>


<div class="article_list">
  <% @articles.each do  |article| -%>
    <div class="row each_article">
      <%= image_tag article.photo.url(:medium), :class => 'img-responsive col-md-4' -%> 
      <div class="col-md-8">
        <p> <%= link_to article.title, article_path(article.id) -%>  </p>
        <p> <%= article.preview.html_safe -%> </p>
      </div>
    </div>
  <% end -%>
</div>